
body{
	background-color:blue;
	color:white;
	font-family:terminal,courier,chicago;
	height:1024px;
	}
	#MainTxtWindow{
		font-size:64px;
		height:800px;
		border:3px solid white;
		padding:44px;
		margins:24px;
		overflow:auto;
	}
	#ButtonWindow{
	overflow:auto;
		border:3px solid white;
		text-align:center;
		height:400px;
		padding:48px;
	}
	button{
		font-size:48px;
		padding:48px;
		}