* {
	box-sizing: border-box;
}

body{
	background-color:blue;
	color:white;
	font-family:terminal,courier,chicago;
}

#MainTxtWindow{
	font-size:32px;
	height:70vh;
	/* vh stands for viewport height as a percentage -> 70vh = 70% of the screen height*/
	border:3px solid white;
	padding:10px 44px;
	overflow:auto;
}

#ButtonWindow{
	overflow:auto;
	border:3px solid white;
	text-align:center;
	height:23vh;
	padding:20px;
}

button{
 background-color:blue;
 border:3px solid white; 
color:white;
	font-family:terminal,courier,chicago;
    height: 50px;
	font-size:24px;
	margin:10px;
    box-shadow:none;
}